@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  font-family: '/fonts/Acme-Regular.ttf', sans-serif;
}
@font-face {
  font-family: 'Acme-Regular';
  src: url('/fonts/Acme-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}
